.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px auto;
    width: 62%;
    max-width: 1000px;
}

.theme-switcher {
    margin-left: auto;
    font-size: 17px;
}

#theme-select {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid var(--border);
    background: var(--bg-white);
    color: var(--text-dark);
    cursor: pointer;
    width: auto;
    display: inline-block;
    font-size: 16px;
}

#theme-select:hover {
    border-color: var(--primary-color);
}

.button-add {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
}

.button-add:hover {
    background: var(--hover-color);
    color: #fff;
}

.button-add span.icon {
    display: inline-block;
    transition: transform 0.15s ease-in-out;
}

.button-add:hover span.icon {
    transform: scale(1.3);
}

.resume-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background: var(--bg-white);
    overflow: hidden;
}

.resume-table th,
.resume-table td {
    text-align: start;
    padding: 20px 14px;
    border-bottom: 1px solid var(--border);
}

.resume-table th {
    font-weight: 600;
    color: var(--text-dark);
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
}

.resume-table th.icon-column,
.resume-table td.icon-column{
    text-align: center;
    width: 110px !important;
    min-width: 110px !important;
}

.resume-table tr:last-child td {
    border-bottom: none;
}

.resume-table tr:hover {
    background-color: var(--table-hover);
    transition: background-color 0.2s ease;
}

.contact-item a:hover {
    text-decoration: underline;
}


