header {
    background: none repeat scroll 0 0 #EDB4B491;
    color: #030303;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #EDB4B491;
    color: #030303;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

